NET "I_SWITCHES[0]"	LOC = "U25";
NET "I_SWITCHES[1]"	LOC = "AG27";
NET "I_SWITCHES[2]"	LOC = "AF25";
NET "I_SWITCHES[3]"	LOC = "AF26";
NET "I_RESET"		LOC = "AJ6";


NET "I_LEDS[0]"		LOC = "H18";
NET "I_LEDS[1]"		LOC = "L18";
NET "I_LEDS[2]"		LOC = "G15";
NET "I_LEDS[3]"		LOC = "AD26";
NET "I_CLK"		LOC = "AH15";
NET "I_CLK"	TNM_NET = "I_CLK";

TIMESPEC  "TS_CLOCK" = PERIOD "I_CLK"  10ns  HIGH  50%;
