NET "I_SWITCHES[0]"	LOC = "U8";
NET "I_SWITCHES[1]"	LOC = "V8";
NET "RESET"		LOC = "AJ6";


NET "O_LEDS[3]"		LOC = "H18";
NET "O_LEDS[2]"		LOC = "L18";
NET "O_LEDS[1]"		LOC = "G15";
NET "O_LEDS[0]"		LOC = "AD26";
NET "CLOCK"		LOC = "AH15";
NET "CLOCK"	TNM_NET = "CLOCK";

TIMESPEC  "TS_CLOCK" = PERIOD "CLOCK"  10ns  HIGH  50%;
